<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="icon" 
	type="image/png" 
	href="/assets/images/apppictures/Logo FARMVIO14.png">

  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../images/favicon.ico">

	<script async src="https://www.googletagmanager.com/gtag/js?id=G-HLL969JFNJ"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-HLL969JFNJ');
	</script>

    <title>Farmvio - Setări securitate B2B  </title>


    <link rel = 'stylesheet' href = '/assets/css/settings.css'>
    <script src = '/assets/scripts/qrcode.min.js'></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<script src = '/assets/scripts/b2b_cart.js'></script>
    <link rel = 'stylesheet' href=  '/assets/css/b2b_cart.css'>

    <script src = '/assets/scripts/settings.js'></script>
    <script src="https://kit.fontawesome.com/27746bdcf7.js" crossorigin="anonymous"></script>


	<!-- Vendors Style-->
	<link rel="stylesheet" href="css/vendors_css.css">
	  
	<!-- Style-->  
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/skin_color.css">	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<script src="https://kit.fontawesome.com/27746bdcf7.js" crossorigin="anonymous"></script>
	<script src = '/assets/scripts/profilepage.js'></script>
</head>
<body class="hold-transition light-skin sidebar-mini theme-primary fixed">
	<div class = 'black_panel'>
		<div class = 'image_content'>
		  <i id = 'close' class="far fa-times-circle" onclick="closee()"></i>
	
		  <div class = 'image_tray'>
	
			<div class = 'add_image'>          
			  <label for = 'file_inp'>
				<input type = 'file' id = 'file_inp'/>
				<div class = 'add_img'>
				  <i class="fas fa-plus"></i>
				  <span>Add images</span>
			  </div>
	
			  </label>
			</div>
			<div class = 'add_color'>
			  <label for = 'colors'>
				<input type = 'color' id = 'colors'/>
				<span>Change color</span>
			  </label>
			</div>
	
		  </div>
		</div>
	  </div>
<div class="wrapper">
	<div id="loader"></div>

	<header class="main-header">
		<div class="d-flex align-items-center logo-box justify-content-start">
			<a href="#" class="waves-effect waves-light nav-link d-none d-md-inline-block mx-10 push-btn bg-transparent hover-primary" data-toggle="push-menu" role="button">
				<span class="icon-Align-left"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
			</a>	
			<div class="app-menu">
				<ul class="header-megamenu nav">
					<li class="btn-group nav-item d-md-none">
						<a href="#" class="waves-effect waves-light nav-link push-btn btn-info-light" data-toggle="push-menu" role="button">
							<span class="icon-Align-left"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
						</a>
					</li>
			  
				</ul> 
			  </div>
			<!-- Logo -->
			<a href="/index" class="logo">
			  <!-- logo-->
			  <div class="logo-lg">
				  <span class="light-logo"><img src="/assets/images/icons/Logo FARMVIO11.jpg" alt="logo"></span>
				
			  </div>
			</a>	
		</div>  
		<nav class="navbar navbar-static-top">
			<!-- Sidebar toggle button-->
			<a href="/index">
			<button type="button" class="waves-effect waves-light btn btn-outline btn-secondary mb-5">Înapoi în site</button>
		  </a>
			<div class="navbar-custom-menu r-side">
			  <ul class="nav navbar-nav">
				<li class="btn-group nav-item d-lg-inline-flex cart-btn phone"  onmouseover="show_cart()">
					<a   class="waves-effect waves-light nav-link full-screen btn-info-light" >
					  <i class="fas fa-shopping-cart"></i>
					  </a>
				  </li>		
				  <li class="btn-group nav-item d-lg-inline-flex ">
					  <a href="#" data-provide="fullscreen" class="waves-effect waves-light nav-link full-screen btn-info-light" title="Full Screen">
						  <i class="icon-Expand-arrows"><span class="path1"></span><span class="path2"></span></i>
					  </a>
				  </li>	
				  <li class="btn-group nav-item d-lg-inline-flex ">
					  <a href="/logout" class="waves-effect waves-light  full-screen btn-info-light" title="Logout">
						  <i class="fas fa-sign-out-alt" aria-hidden="true"><span class="path1"></span><span class="path2"></span></i>
					  </a>
				  </li>	
				<!-- Notifications -->
				<li class="dropdown notifications-menu">
				  <span class="label label-primary">5</span>
				  <a href="#" class="waves-effect waves-light dropdown-toggle btn-primary-light" data-bs-toggle="dropdown" title="Notifications" aria-expanded="false">
					<i class="icon-Notifications"><span class="path1"></span><span class="path2"></span></i>
				  </a>
				  <ul class="dropdown-menu animated bounceIn">
	  
					<li class="header">
					  <div class="p-20">
						  <div class="flexbox">
							  <div>
								  <h4 class="mb-0 mt-0">Notifications</h4>
							  </div>
							  <div>
								  <a href="#" class="text-danger">Clear All</a>
							  </div>
						  </div>
					  </div>
					</li>
	  
					<li>
					  <!-- inner menu: contains the actual data -->
					  <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 250px;"><ul class="menu sm-scrol" style="overflow: hidden; width: auto; height: 250px;">
					  
					  </ul><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
					</li>
					<li class="footer">
						<a href="#">View all</a>
					</li>
				  </ul>
				</li>	
	  
				  
			  </ul>
			</div>
		  </nav>
	  </header>
  
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar position-relative">	
	  <div class="multinav">
		  <div class="multinav-scroll" style="height: 100%;">	
			  <!-- sidebar menu-->
			  

        <ul class="sidebar-menu" data-widget="tree">
          <li>
            <a href="/dashboard">
            <i class="icon-Home"></i>
            <span>Profilul meu</span>
            </a>
          </li>
          <li>
            <a href="/security_settings">
            <i class="fas fa-shield-alt"><span class="path1"></span><span class="path2"></span></i>
            <span>Setări securitate</span>
            </a>
          </li>	
  
          <li>
            <a href="/my_orders">
            <i class="icon-Chart-line"><span class="path1"></span><span class="path2"></span></i>
            <span>Comenzile mele </span>
            </a>
          </li>	
  
          </ul>	


			</div>
		</div>
    </section>
  </aside> 
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->	  
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">Profile</h3>
					<div class="d-inline-block align-items-center">
			
					</div>
				</div>
				
			</div>
		</div>

		<!-- Main content -->
		<section class="content">
            <input type = 'hidden' id = 'csrf' value = {{ csrf_token}}/>
			<div class = 'row' style="justify-content: space-around;">


            <div class = 'section col-5 pb-3 pt-3'>
                <span class = 'section_title'>Parolă</span>
                    <div class = 'section_content'>
                        <div class = 'input_holder'>
                            <label for = 'password'>Parolă nouă</label>
                            <input type = 'text' id = 'password'>
                            <span class ='line'></span>
                         </div>
                         <div class = 'input_holder'>
                            <label for = 'conf_password'>Repetă noua parolă</label>
                            <input type = 'text' id = 'conf_password'>
                            <span class ='line'></span>
                         </div>
                        <br>
                        <p class = 'err' id = 'pass_err'>Eroare</p>
                        <button class = 'action' onclick="change_pass()">Schimbă parola</button>
                    </div>
                
            </div>
            <div class = 'section col-5 pb-3 pt-3'>
                <span class = 'section_title'>2FA</span>
                <div class = 'section_content'>
                    <p class='warning'><i class="fas fa-exclamation-circle"></i>Sistemul nostru de autentificare în doi pași folosește Google Authenticator</p>
                    <input type = 'checkbox' id = 'fa' {{g_auth}}/>
                    <div class = 'steps'>
                        <div class = 'step_display'>
                            <span class = 'step_active' data-index='1'>1</span>
                            <span data-index='2'>2</span>
                            <span data-index='3'>3</span>
                            <div class = 'progress_line'>
                                <div class = 'custom_progress'></div>
                            </div>
                        </div>
                        <div class = 'step_content'>
                        <div class = 'step' id = 'one' data-index='1'>   
                        <p class = 'step_title'>Primul pas</p>
                        <span>Te rugăm să instalezi aplicatie Google Authenticator</span>
                        <img src = '/assets/images/apppictures/qrcode.png'/>
                        </div>

                        <div class="step" id = 'two' data-index='2'>
                            <div class = 'copied'>
                                <span>Copiat</span>
                                
                            </div>
                            <p class = 'step_title'>Al doilea pas </p>
                            <span>Scanează acest cod folosind aplicatia Google Authenticator</span>
                            <div id = 'qrcode'></div>
                            <div style ='font-weight: bold; text-align: center;'>OR</div>
                            <div class = 'key_holder'>
                                <div class = 'icon_holder'>
                                    <i class="fas fa-clipboard"></i>
                                </div>
                                <input type='text' id = 'key' readonly/>
                            </div>
                        </div>
                        
                        <div class = 'step' id = 'three' data-index='3'>
                            <p class = 'step_title'>Ultimul pas</p>
                            <div  id = 'code'>
                                <input type = 'text' maxlength="1" size="1" min="0" max="9" pattern="[0-9]{1}" class = 'code'/>
                                <input type = 'text' maxlength="1" size="1" min="0" max="9" pattern="[0-9]{1}" class = 'code'/>
                                <input type = 'text' maxlength="1" size="1" min="0" max="9" pattern="[0-9]{1}" class = 'code'/>
                                <span class = 'middle_line'></span>
                                <input type = 'text' maxlength="1" size="1" min="0" max="9" pattern="[0-9]{1}" class = 'code'/>
                                <input type = 'text' maxlength="1" size="1" min="0" max="9" pattern="[0-9]{1}" class = 'code'/>
                                <input type = 'text' maxlength="1" size="1" min="0" max="9" pattern="[0-9]{1}" class = 'code'/>
                            </div>
                            <p class = 'err' style = 'text-align: center' id = 'wc'>Codul este greșit</p>
                        </div>
                    </div>
                    <button class = 'done' onclick='next()'>Gata</button>
                    </div>
                </div>
            </div>
		</div>
		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
 
  <!-- Content Right Sidebar -->
 
  <!-- /.Content Right Sidebar -->
	
  <footer class="main-footer">
    <div class="pull-right d-none d-sm-inline-block">
   
    </div>
	&copy; 2021 Farmvio. Toate drepturile rezervate.
  </footer>

	
	
	<!-- Vendor JS -->
	<script src="js/vendors.min.js"></script>
	<script src="js/pages/chat-popup.js"></script>
	<script src="../assets/vendor_components/apexcharts-bundle/dist/apexcharts.min.js"></script>
    <script src="../assets/icons/feather-icons/feather.min.js"></script>	
	
	<!-- Riday App -->
	<script src="js/template.js"></script>
	
	<script src="js/pages/timeline.js"></script>
	
	<template id = 'cart_temp'>
		<div class = 'b2b_item'>
			<img src = '/assets/images/icons/no_image.png'/>
			<span class = 'name'></span>
			<input type = 'number' min = 1 max= 999><br>
			<p class = 'sold_by'><strong>Vandut de: </strong></p>
			<p class="del_from"><Strong>Livrat din: </Strong></p>
		</div>
	</template>


	<template id = 'cart_temp_special'>
		<div class = 'b2b_item'>
			<h6 style="width: 100%">Special order</h6><br>
			<div class = 'old_tags' style="width: 100%;padding-left: 5px;">
		   
		</div>
			<input type = 'number' value = '2' style="margin: 10px auto;">
		</div>
	</template>

	<div class = 'cart_container'>
		<div class = 'up_arrow'>
			
		</div>
		<div class = 'cart_content'>
			
		</div>
		<div class = 'bottom'>
			<button class = 'btn btn-primary' onclick="window.location.href = '/order'">Detalii coș</button>
		</div>
	  </div>
</body>
</html>
