<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="icon" 
	type="image/png" 
	href="/assets/images/apppictures/Logo FARMVIO14.png">

  <meta charset="utf-8">
  <base href = '../'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../images/favicon.ico">

	<script async src="https://www.googletagmanager.com/gtag/js?id=G-HLL969JFNJ"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-HLL969JFNJ');
	</script>

    <title>Farmvio - Editare produs </title>
  
	<!-- Vendors Style-->
	<link rel="stylesheet" href="css/vendors_css.css">
	  
	<!-- Style-->  
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/skin_color.css">	


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src ='/assets/scripts/edit_prod.js'></script>


	<script src="https://kit.fontawesome.com/27746bdcf7.js" crossorigin="anonymous"></script>
</head>
<body class="hold-transition light-skin sidebar-mini theme-primary fixed">
	
	<div class = 'black_panel'>
		<div class = 'image_content'>
		  <i id = 'close' class="far fa-times-circle" onclick="closee()"></i>
	
		  <div class = 'image_tray'>
	
			<div class = 'add_image'>          
			  <label for = 'file_inp'>
				<input type = 'file' id = 'file_inp'/>
				<div class = 'add_img'>
				  <i class="fas fa-plus"></i>
				  <span>Add images</span>
			  </div>
	
			  </label>
			</div>
			<div class = 'add_color'>
			  <label for = 'colors'>
				<input type = 'color' id = 'colors'/>
				<span>Change color</span>
			  </label>
			</div>
	
		  </div>
		</div>
	  </div>
<div class="wrapper">
	<div id="loader"></div>

  <header class="main-header">
	<div class="d-flex align-items-center logo-box justify-content-start">
		<a href="#" class="waves-effect waves-light nav-link d-none d-md-inline-block mx-10 push-btn bg-transparent hover-primary" data-toggle="push-menu" role="button">
			<span class="icon-Align-left"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
		</a>	
		<!-- Logo -->
		<a href="/index" class="logo">
		  <!-- logo-->
		  <div class="logo-lg">
			  <span class="light-logo"><img src="/assets/images/icons/Logo FARMVIO11.jpg" alt="logo"></span>
			  <span class="dark-logo"><img src="../images/logo-light-text.png" alt="logo"></span>
		  </div>
		</a>	
	</div>  
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top">
		<!-- Sidebar toggle button-->
		<a href="/index">
		<button type="button" class="waves-effect waves-light btn btn-outline btn-secondary mb-5">Înapoi în site</button>
	  </a>
		<div class="navbar-custom-menu r-side">
		  <ul class="nav navbar-nav">	
			  <li class="btn-group nav-item d-lg-inline-flex ">
				  <a href="#" data-provide="fullscreen" class="waves-effect waves-light nav-link full-screen btn-info-light" title="Full Screen">
					  <i class="icon-Expand-arrows"><span class="path1"></span><span class="path2"></span></i>
				  </a>
			  </li>	
			  <li class="btn-group nav-item d-lg-inline-flex ">
				  <a href="/logout" class="waves-effect waves-light  full-screen btn-info-light" title="Logout">
					  <i class="fas fa-sign-out-alt" aria-hidden="true"><span class="path1"></span><span class="path2"></span></i>
				  </a>
			  </li>	
			<!-- Notifications -->
			<li class="dropdown notifications-menu">
			  <span class="label label-primary">5</span>
			  <a href="#" class="waves-effect waves-light dropdown-toggle btn-primary-light" data-bs-toggle="dropdown" title="Notifications" aria-expanded="false">
				<i class="icon-Notifications"><span class="path1"></span><span class="path2"></span></i>
			  </a>
			  <ul class="dropdown-menu animated bounceIn">
  
				<li class="header">
				  <div class="p-20">
					  <div class="flexbox">
						  <div>
							  <h4 class="mb-0 mt-0">Notifications</h4>
						  </div>
						  <div>
							  <a href="#" class="text-danger">Clear All</a>
						  </div>
					  </div>
				  </div>
				</li>
  
				<li>
				  <!-- inner menu: contains the actual data -->
				  <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 250px;"><ul class="menu sm-scrol" style="overflow: hidden; width: auto; height: 250px;">
				  
				  </ul><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
				</li>
				<li class="footer">
					<a href="#">View all</a>
				</li>
			  </ul>
			</li>	
  
			  
		  </ul>
		</div>
	  </nav>
  </header>
  
 <!-- Left side column. contains the logo and sidebar -->
 <aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar position-relative">	
	  <div class="multinav">
		  <div class="multinav-scroll" style="height: 100%;">	
			  <!-- sidebar menu-->
			  <ul class="sidebar-menu" data-widget="tree">
				<li>
				  <a href="/dashboard">
					<i class="icon-Home"></i>
					<span>Panou de administrare</span>
				  </a>
				</li>
				<li class="treeview">
				  <a href="#">
					<i class="fas fa-cog"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
					<span>Setări</span>
					<span class="pull-right-container">
					  <i class="fa fa-angle-right pull-right"></i>
					</span>
				  </a>
				  <ul class="treeview-menu">
					<li><a href="/personal_data"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Setări date personale </a></li>
					<li><a href="/security_settings"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Setări securitate</a></li>
				  </ul>
				</li>
		
				<li class="treeview">
					<a href="#">
						<i class="fas fa-truck"><span class="path1"></span><span class="path2"></span></i>
						<span>Puncte de lucru</span>
						<span class="pull-right-container">
						  <i class="fa fa-angle-right pull-right"></i>
						</span>
					  </a>
					  <ul class="treeview-menu">
						<li><a href="/view_points"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Vezi puncte de lucru</a></li>
						<li><a href="/wpoints"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Adaugă punct de lucru</a></li>
					  </ul>
				</li>
				<li>
				  <a href="/orders">
					<i class="icon-Chart-line"><span class="path1"></span><span class="path2"></span></i>
					<span>Comenzi</span>
				  </a>
				</li>
				<li class="treeview">
				  <a href="#">
					<i class="icon-Cart"><span class="path1"></span><span class="path2"></span></i>
					<span>Produse</span>
					<span class="pull-right-container">
					  <i class="fa fa-angle-right pull-right"></i>
					</span>
				  </a>
				  <ul class="treeview-menu">
					<li><a href="/view_prods"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Vezi produse</a></li>
					<li><a href="/add_prod"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Adaugă produs</a></li>
				  </ul>
				</li>				
				<li>
			
						<a href="/offer_requests">
						  <i class="fas fa-percent"><span class="path1"></span><span class="path2"></span></i>
						  <span>Cereri de ofertă</span>
						</a>
				  </li>
				  <li>
					  <a href = '/cereri_rezervare'>
						<i class="fas fa-calendar-week"></i>
						<span>Cereri de rezervare</span>

					  </a>
				  </li>
				  <li>
			
					<a href="/date_proforma">
					  <i class="fas fa-file-contract"><span class="path1"></span><span class="path2"></span></i>
					  <span>Date proforma</span>
					</a>
			  </li>
				  <li>
					<li class = 'bg-info-light '>
			
						<a href="/profile/{{slug}}" class = 'text-primary'>
						  <i class="far fa-id-badge text-primary"><span class="path1"></span><span class="path2"></span></i>
						  <span>Vezi profilul tău</span>
						</a>
				  </li>

				  <li class = 'bg-success-light'>
			
					<a href="/add_prod" class = 'text-primary'>
					  <i class="fas fa-plus text-primary"><span class="path1"></span><span class="path2"></span></i>
					  <span>Adaugă produs</span>
					</a>
			  </li>

				</li>
			  </ul>	
	
			</div>
		</div>
    </section>
  </aside> 
   
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->	  
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">Profile</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Extra</li>
								<li class="breadcrumb-item active" aria-current="page">Profile</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>

		<!-- Main content -->
		<section class="content" >

		  <div class="row justify-content-center pt-3 pb-3" style="background-color: white;" id = 'product_row '>

            <div class = 'col-lg-6'>
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Search</span>
                    </div>
                    <input type="text" id = 'search_wpoint' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    
                  </div>
            <div class = 'wpoints bg-lightest'>         

            </div>
			<div id ='chosen_tags' class="mt-3">



			</div>
        </div>

        <div class = 'row justify-content-center mt-3'>
        <div class = 'col-lg-6'>

            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Product name</span>
                </div>
                <input type="text" class="form-control" id = 'prod_name'>

              </div>


        </div>
		</div>
		<div class = 'row justify-content-center mt-3'>
		<div class="col-lg-6">

            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Titlul produsului</span>
                </div>
                <input type="text" class="form-control" id="prod_title">

              </div>
			  <div class="custom_error" id="prod_title_error"></div>


        </div>



    </div>

    <div class = 'row justify-content-center mt-3'>
        <div class = 'col-lg-6'>

            <div class="form-group">
                <label class="form-label">Categorie</label>

                <select class="form-control select2 select2-hidden-accessible" id='cat_sel' style="width: 100%;" tabindex="-1" aria-hidden="true">
         
                </select>
              </div>
            
            </div>
    </div>

	<div class = 'row justify-content-center mt-3'>
		<div class = 'col-lg-6'>
			
			<label for = 'price'>Pret</label>
			<div class="input-group flex-nowrap">
				
				<span class="input-group-text" id="addon-wrapping">$</span>
  				<input id = 'price' type="number" class="form-control"  aria-describedby="addon-wrapping">
				  <span class="input-group-text">/</span>

				<select id = 'unit_sel'>
					<option value = 'kg'>Kilogram</option>
					<option value = 'l'>Litru</option>
					<option value = 'b'>Bucata</option>
				</select>
              </div>
		</div>
	</div>

        <div class = 'row justify-content-center mt-3'>
            <div class = 'col-lg-6'>
                <div class="md-form">
                    <label for = 'desc'>Descriere</label>
                    <textarea id="desc" class="md-textarea form-control" rows="3"></textarea>
                  </div>
            </div>
        </div>

		<div class = 'row justify-content-center mt-3'>
			<div class = 'col-lg-6' id = 'stocks'>
			<h3>Stock</h3>


	

		</div>
		</div>

		<div class = 'row justify-content-center mt-3'>

			<div class = 'col-6 '>
				
				<label for = 'file_upload' class = 'upload bg-primary'>
					<p>Upload files</p>
					<input type="file" id = 'file_upload'>
				</label>
<button type="button" class="waves-effect waves-light btn btn-outline btn-rounded btn-info-light mb-5 mt-3" id = 'order' onclick="toggle()">Reorder images </button>
				<div class = 'upload_area'>

				</div>
			</div>

		</div>
		<div class = 'row justify-content-center mt-3'>
			<div class = 'col-6'>
				<button type="button" onclick = "update_data()" style = "margin: auto; display: block; background: linear-gradient(1deg, #01b075, #01e397) !important;text-shadow: 0 0 3px black;" class="waves-effect waves-light btn mb-5 bg-gradient-success">Update the data</button>
			</div>
		</div>
        </div>

			</div>
		  </div>
		  <!-- /.row -->

		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
 
  <!-- Content Right Sidebar -->
  <div class="right-bar">
	  <div id="sidebarRight">
		  <div class="right-bar-inner">
			  <div class="text-end position-relative">
				  <a href="#" class="d-inline-block d-xl-none btn right-bar-btn waves-effect waves-circle btn btn-circle btn-danger btn-sm">
					<i class="mdi mdi-close"></i>
				  </a>
			  </div>
			  <div class="right-bar-content">
				  <div class="box no-shadow box-bordered border-light">
				  	  <div class="box-body">
					  	  <div class="d-flex justify-content-between align-items-center">
							  <div>
								  <h5>Total Sale</h5>
								  <h2 class="mb-0">$254.90</h2>
							  </div>
							  <div class="p-10">
							  	<div id="chart-spark1"></div>
							  </div>
						  </div>
					  </div>
					  <div class="box-footer">
					  	  <div class="d-flex align-items-center justify-content-between">
						  	  <h5 class="my-0">6 total orders</h5>
							  <a href="#" class="mb-0">View Report</a>
						  </div>
					  </div>
				  </div>
				  <div class="box no-shadow box-bordered border-light">
				  	  <div class="box-body">
					  	  <div class="d-flex justify-content-between align-items-center">
							  <div>
								  <h5>Total Sessions</h5>
								  <h2 class="mb-0">845</h2>
							  </div>
							  <div class="p-10">
							  	<div id="chart-spark2"></div>
							  </div>
						  </div>
					  </div>
					  <div class="box-footer">
					  	  <div class="d-flex align-items-center justify-content-between">						  	  
							  <a href="#" class="btn btn-primary-light btn-sm">Live</a>						  	  
							  <a href="#" class="btn btn-info-light btn-sm">4 Visitors</a>						  	  
							  <a href="#" class="btn btn-success-light btn-sm">See Live View</a>
						  </div>
					  </div>
				  </div>
				  <div class="box no-shadow box-bordered border-light">
				  	  <div class="box-body">
					  	  <div class="d-flex justify-content-between align-items-center">
							  <div>
								  <h5>Customer rate</h5>
								  <h2 class="mb-0">5.12%</h2>
							  </div>
							  <div class="p-10">
							  	<div id="chart3"></div>
							  </div>
						  </div>
					  </div>
					  <div class="box-footer">
					  	  <div class="d-flex align-items-center justify-content-between">						  	  
							  <h5 class="my-0"><span class="badge badge-xl badge-dot badge-primary mr-10"></span>First Time</h5>								  	  
							  <h5 class="my-0"><span class="badge badge-xl badge-dot badge-danger mr-10"></span>Returning</h5>						  	  		
						  </div>
					  </div>
				  </div>
				  <div class="box no-shadow box-bordered border-light">
					  <div class="box-header">
					  	<h4 class="box-title">Resent Activity</h4>
					  </div>
				  	  <div class="box-body p-5">
					  	  <div class="media-list media-list-hover">
							<a class="media media-single mb-10 p-0 rounded-0" href="#">
							  <h4 class="w-50 text-gray font-weight-500">10:10</h4>
							  <div class="media-body pl-15 bl-5 rounded border-primary">
								<p>Morbi quis ex eu arcu auctor sagittis.</p>
								<span class="text-fade">by Johne</span>
							  </div>
							</a>

							<a class="media media-single mb-10 p-0 rounded-0" href="#">
							  <h4 class="w-50 text-gray font-weight-500">08:40</h4>
							  <div class="media-body pl-15 bl-5 rounded border-success">
								<p>Proin iaculis eros non odio ornare efficitur.</p>
								<span class="text-fade">by Amla</span>
							  </div>
							</a>

							<a class="media media-single mb-10 p-0 rounded-0" href="#">
							  <h4 class="w-50 text-gray font-weight-500">07:10</h4>
							  <div class="media-body pl-15 bl-5 rounded border-info">
								<p>In mattis mi ut posuere consectetur.</p>
								<span class="text-fade">by Josef</span>
							  </div>
							</a>

							<a class="media media-single mb-10 p-0 rounded-0" href="#">
							  <h4 class="w-50 text-gray font-weight-500">01:15</h4>
							  <div class="media-body pl-15 bl-5 rounded border-danger">
								<p>Morbi quis ex eu arcu auctor sagittis.</p>
								<span class="text-fade">by Rima</span>
							  </div>
							</a>

							<a class="media media-single mb-10 p-0 rounded-0" href="#">
							  <h4 class="w-50 text-gray font-weight-500">23:12</h4>
							  <div class="media-body pl-15 bl-5 rounded border-warning">
								<p>Morbi quis ex eu arcu auctor sagittis.</p>
								<span class="text-fade">by Alaxa</span>
							  </div>
							</a>

						  </div>
					  </div>
					  <div class="box-footer">
					  	  <div class="text-center">						  	  
							  <a href="#" class="mb-0">Load More</a>					  	  		
						  </div>
					  </div>
				  </div>
			  </div>
		  </div>
	  </div>
  </div> 
  <!-- /.Content Right Sidebar -->
	
  <footer class="main-footer">
    <div class="pull-right d-none d-sm-inline-block">
        <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
		  <li class="nav-item">
			<a class="nav-link" href="javascript:void(0)">FAQ</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Purchase Now</a>
		  </li>
		</ul>
    </div>
	  &copy; 2021 <a href="https://www.multipurposethemes.com/">Multipurpose Themes</a>. All Rights Reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar">
	  
	<div class="rpanel-title"><span class="pull-right btn btn-circle btn-danger"><i class="ion ion-close text-white" data-toggle="control-sidebar"></i></span> </div>  <!-- Create the tabs -->
    <ul class="nav nav-tabs control-sidebar-tabs">
      <li class="nav-item"><a href="#control-sidebar-home-tab" data-toggle="tab" class="active"><i class="mdi mdi-message-text"></i></a></li>
      <li class="nav-item"><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="mdi mdi-playlist-check"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane active" id="control-sidebar-home-tab">
          <div class="flexbox">
			<a href="javascript:void(0)" class="text-grey">
				<i class="ti-more"></i>
			</a>	
			<p>Users</p>
			<a href="javascript:void(0)" class="text-right text-grey"><i class="ti-plus"></i></a>
		  </div>
		  <div class="lookup lookup-sm lookup-right d-none d-lg-block">
			<input type="text" name="s" placeholder="Search" class="w-p100">
		  </div>
          <div class="media-list media-list-hover mt-20">
			<div class="media py-10 px-0">
			  <a class="avatar avatar-lg status-success" href="#">
				<img src="../images/avatar/1.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<p class="font-size-16">
				  <a class="hover-primary" href="#"><strong>Tyler</strong></a>
				</p>
				<p>Praesent tristique diam...</p>
				  <span>Just now</span>
			  </div>
			</div>

			<div class="media py-10 px-0">
			  <a class="avatar avatar-lg status-danger" href="#">
				<img src="../images/avatar/2.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<p class="font-size-16">
				  <a class="hover-primary" href="#"><strong>Luke</strong></a>
				</p>
				<p>Cras tempor diam ...</p>
				  <span>33 min ago</span>
			  </div>
			</div>

			<div class="media py-10 px-0">
			  <a class="avatar avatar-lg status-warning" href="#">
				<img src="../images/avatar/3.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<p class="font-size-16">
				  <a class="hover-primary" href="#"><strong>Evan</strong></a>
				</p>
				<p>In posuere tortor vel...</p>
				  <span>42 min ago</span>
			  </div>
			</div>

			<div class="media py-10 px-0">
			  <a class="avatar avatar-lg status-primary" href="#">
				<img src="../images/avatar/4.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<p class="font-size-16">
				  <a class="hover-primary" href="#"><strong>Evan</strong></a>
				</p>
				<p>In posuere tortor vel...</p>
				  <span>42 min ago</span>
			  </div>
			</div>			
			
			<div class="media py-10 px-0">
			  <a class="avatar avatar-lg status-success" href="#">
				<img src="../images/avatar/1.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<p class="font-size-16">
				  <a class="hover-primary" href="#"><strong>Tyler</strong></a>
				</p>
				<p>Praesent tristique diam...</p>
				  <span>Just now</span>
			  </div>
			</div>

			<div class="media py-10 px-0">
			  <a class="avatar avatar-lg status-danger" href="#">
				<img src="../images/avatar/2.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<p class="font-size-16">
				  <a class="hover-primary" href="#"><strong>Luke</strong></a>
				</p>
				<p>Cras tempor diam ...</p>
				  <span>33 min ago</span>
			  </div>
			</div>

			<div class="media py-10 px-0">
			  <a class="avatar avatar-lg status-warning" href="#">
				<img src="../images/avatar/3.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<p class="font-size-16">
				  <a class="hover-primary" href="#"><strong>Evan</strong></a>
				</p>
				<p>In posuere tortor vel...</p>
				  <span>42 min ago</span>
			  </div>
			</div>

			<div class="media py-10 px-0">
			  <a class="avatar avatar-lg status-primary" href="#">
				<img src="../images/avatar/4.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<p class="font-size-16">
				  <a class="hover-primary" href="#"><strong>Evan</strong></a>
				</p>
				<p>In posuere tortor vel...</p>
				  <span>42 min ago</span>
			  </div>
			</div>
			  
		  </div>

      </div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
          <div class="flexbox">
			<a href="javascript:void(0)" class="text-grey">
				<i class="ti-more"></i>
			</a>	
			<p>Todo List</p>
			<a href="javascript:void(0)" class="text-right text-grey"><i class="ti-plus"></i></a>
		  </div>
        <ul class="todo-list mt-20">
			<li class="py-15 px-5 by-1">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_1" class="filled-in">
			  <label for="basic_checkbox_1" class="mb-0 h-15"></label>
			  <!-- todo text -->
			  <span class="text-line">Nulla vitae purus</span>
			  <!-- Emphasis label -->
			  <small class="badge bg-danger"><i class="fa fa-clock-o"></i> 2 mins</small>
			  <!-- General tools such as edit or delete-->
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
			<li class="py-15 px-5">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_2" class="filled-in">
			  <label for="basic_checkbox_2" class="mb-0 h-15"></label>
			  <span class="text-line">Phasellus interdum</span>
			  <small class="badge bg-info"><i class="fa fa-clock-o"></i> 4 hours</small>
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
			<li class="py-15 px-5 by-1">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_3" class="filled-in">
			  <label for="basic_checkbox_3" class="mb-0 h-15"></label>
			  <span class="text-line">Quisque sodales</span>
			  <small class="badge bg-warning"><i class="fa fa-clock-o"></i> 1 day</small>
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
			<li class="py-15 px-5">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_4" class="filled-in">
			  <label for="basic_checkbox_4" class="mb-0 h-15"></label>
			  <span class="text-line">Proin nec mi porta</span>
			  <small class="badge bg-success"><i class="fa fa-clock-o"></i> 3 days</small>
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
			<li class="py-15 px-5 by-1">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_5" class="filled-in">
			  <label for="basic_checkbox_5" class="mb-0 h-15"></label>
			  <span class="text-line">Maecenas scelerisque</span>
			  <small class="badge bg-primary"><i class="fa fa-clock-o"></i> 1 week</small>
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
			<li class="py-15 px-5">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_6" class="filled-in">
			  <label for="basic_checkbox_6" class="mb-0 h-15"></label>
			  <span class="text-line">Vivamus nec orci</span>
			  <small class="badge bg-info"><i class="fa fa-clock-o"></i> 1 month</small>
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
			<li class="py-15 px-5 by-1">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_7" class="filled-in">
			  <label for="basic_checkbox_7" class="mb-0 h-15"></label>
			  <!-- todo text -->
			  <span class="text-line">Nulla vitae purus</span>
			  <!-- Emphasis label -->
			  <small class="badge bg-danger"><i class="fa fa-clock-o"></i> 2 mins</small>
			  <!-- General tools such as edit or delete-->
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
			<li class="py-15 px-5">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_8" class="filled-in">
			  <label for="basic_checkbox_8" class="mb-0 h-15"></label>
			  <span class="text-line">Phasellus interdum</span>
			  <small class="badge bg-info"><i class="fa fa-clock-o"></i> 4 hours</small>
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
			<li class="py-15 px-5 by-1">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_9" class="filled-in">
			  <label for="basic_checkbox_9" class="mb-0 h-15"></label>
			  <span class="text-line">Quisque sodales</span>
			  <small class="badge bg-warning"><i class="fa fa-clock-o"></i> 1 day</small>
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
			<li class="py-15 px-5">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_10" class="filled-in">
			  <label for="basic_checkbox_10" class="mb-0 h-15"></label>
			  <span class="text-line">Proin nec mi porta</span>
			  <small class="badge bg-success"><i class="fa fa-clock-o"></i> 3 days</small>
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
		  </ul>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  
  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
	
	<div id="chat-box-body">
		<div id="chat-circle" class="waves-effect waves-circle btn btn-circle btn-sm btn-warning l-h-45">
            <div id="chat-overlay"></div>
            <span class="icon-Group-chat font-size-18"><span class="path1"></span><span class="path2"></span></span>
		</div>

		<div class="chat-box">
            <div class="chat-box-header p-15 d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button class="waves-effect waves-circle btn btn-circle btn-primary-light h-40 w-40 rounded-circle l-h-45" type="button" data-toggle="dropdown">
                      <span class="icon-Add-user font-size-22"><span class="path1"></span><span class="path2"></span></span>
                  </button>
                  <div class="dropdown-menu min-w-200">
                    <a class="dropdown-item font-size-16" href="#">
                        <span class="icon-Color mr-15"></span>
                        New Group</a>
                    <a class="dropdown-item font-size-16" href="#">
                        <span class="icon-Clipboard mr-15"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
                        Contacts</a>
                    <a class="dropdown-item font-size-16" href="#">
                        <span class="icon-Group mr-15"><span class="path1"></span><span class="path2"></span></span>
                        Groups</a>
                    <a class="dropdown-item font-size-16" href="#">
                        <span class="icon-Active-call mr-15"><span class="path1"></span><span class="path2"></span></span>
                        Calls</a>
                    <a class="dropdown-item font-size-16" href="#">
                        <span class="icon-Settings1 mr-15"><span class="path1"></span><span class="path2"></span></span>
                        Settings</a>
                    <div class="dropdown-divider"></div>
					<a class="dropdown-item font-size-16" href="#">
                        <span class="icon-Question-circle mr-15"><span class="path1"></span><span class="path2"></span></span>
                        Help</a>
					<a class="dropdown-item font-size-16" href="#">
                        <span class="icon-Notifications mr-15"><span class="path1"></span><span class="path2"></span></span> 
                        Privacy</a>
                  </div>
                </div>
                <div class="text-center flex-grow-1">
                    <div class="text-dark font-size-18">Mayra Sibley</div>
                    <div>
                        <span class="badge badge-sm badge-dot badge-primary"></span>
                        <span class="text-muted font-size-12">Active</span>
                    </div>
                </div>
                <div class="chat-box-toggle">
                    <button id="chat-box-toggle" class="waves-effect waves-circle btn btn-circle btn-danger-light h-40 w-40 rounded-circle l-h-45" type="button">
                      <span class="icon-Close font-size-22"><span class="path1"></span><span class="path2"></span></span>
                    </button>                    
                </div>
            </div>
            <div class="chat-box-body">
                <div class="chat-box-overlay">   
                </div>
                <div class="chat-logs">
                    <div class="chat-msg user">
                        <div class="d-flex align-items-center">
                            <span class="msg-avatar">
                                <img src="../images/avatar/2.jpg" class="avatar avatar-lg">
                            </span>
                            <div class="mx-10">
                                <a href="#" class="text-dark hover-primary font-weight-bold">Mayra Sibley</a>
                                <p class="text-muted font-size-12 mb-0">2 Hours</p>
                            </div>
                        </div>
                        <div class="cm-msg-text">
                            Hi there, I'm Jesse and you?
                        </div>
                    </div>
                    <div class="chat-msg self">
                        <div class="d-flex align-items-center justify-content-end">
                            <div class="mx-10">
                                <a href="#" class="text-dark hover-primary font-weight-bold">You</a>
                                <p class="text-muted font-size-12 mb-0">3 minutes</p>
                            </div>
                            <span class="msg-avatar">
                                <img src="../images/avatar/3.jpg" class="avatar avatar-lg">
                            </span>
                        </div>
                        <div class="cm-msg-text">
                           My name is Anne Clarc.         
                        </div>        
                    </div>
                    <div class="chat-msg user">
                        <div class="d-flex align-items-center">
                            <span class="msg-avatar">
                                <img src="../images/avatar/2.jpg" class="avatar avatar-lg">
                            </span>
                            <div class="mx-10">
                                <a href="#" class="text-dark hover-primary font-weight-bold">Mayra Sibley</a>
                                <p class="text-muted font-size-12 mb-0">40 seconds</p>
                            </div>
                        </div>
                        <div class="cm-msg-text">
                            Nice to meet you Anne.<br>How can i help you?
                        </div>
                    </div>
                </div><!--chat-log -->
            </div>
            <div class="chat-input">      
                <form>
                    <input type="text" id="chat-input" placeholder="Send a message..."/>
                    <button type="submit" class="chat-submit" id="chat-submit">
                        <span class="icon-Send font-size-22"></span>
                    </button>
                </form>      
            </div>
		</div>
	</div>
	
	<!-- Page Content overlay -->
	
	
	<!-- Vendor JS -->
	<script src="js/vendors.min.js"></script>
	<script src="js/pages/chat-popup.js"></script>
	<script src="../assets/vendor_components/apexcharts-bundle/dist/apexcharts.min.js"></script>
    <script src="../assets/icons/feather-icons/feather.min.js"></script>	
	<script src="../assets/vendor_components/select2/dist/js/select2.full.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

	<!-- Riday App -->
	<script src="js/template.js"></script>

	<script src="js/pages/timeline.js"></script>
    <script src="js/pages/advanced-form-element.js"></script>

	<template id = 'product_template'>
		
		<div class = 'col-12 col-sm-6 col-xxl-4'>

			<div class = 'product_card bg-dark'>
				<div class = 'top_content'>
					<img src =''/>
				</div>
				<div class = 'middle_content'>
					<span class = 'title'>  </span>
					<span class = 'title' style="color: rgb(25, 190, 25);font-size: 20px;"><i class="far fa-money-bill-alt"></i> <span id ='price'> </span></span>
					<div id="read-only-stars" title="regular"><img alt="1" src="../images/rating/star-on.png" title="regular">&nbsp;<img alt="2" src="../images/rating/star-on.png" title="regular">&nbsp;<img alt="3" src="../images/rating/star-on.png" title="regular">&nbsp;<img alt="4" src="../images/rating/star-off.png" title="regular">&nbsp;<img alt="5" src="../images/rating/star-off.png" title="regular"><input name="score" type="hidden" value="3" readonly=""></div>
				</div>
				<div class = 'bottom_content'>
					<a class="waves-effect waves-light btn btn-app btn-info" href="#" id = 'edit_link'>
						<i class="fa fa-edit"></i> Edit
					  </a>
					  <a class="waves-effect waves-light btn btn-app btn-success" href="#" id = 'view_link' target="__blank">
						<i class="fas fa-eye"></i>View
					  </a>

					  <a class="waves-effect waves-light btn btn-app btn-danger" href="#" id = 'remove_prod'>
						<i class="fas fa-trash"></i> Remove
					  </a>
				</div>

			</div>
		</div>
	</template>
</body>
</html>
