<html>
    <head>
        <link rel="icon" 
        type="image/png" 
        href="/assets/images/apppictures/Logo FARMVIO14.png">
  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src = '/assets/scripts/view_points.js'></script>
        <script src="https://kit.fontawesome.com/27746bdcf7.js" crossorigin="anonymous"></script>

        <link rel = 'stylesheet' href = '/assets/css/view_points.css'/>
        
        </head>
        <body>
            <div class = 'content'>
                <div class = 'add_farm' onclick="location.href = '/wpoints' ">
                    <i class="fas fa-plus"></i>
                </div>


            </div>
        </body>
</html>