body {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #333333;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  text-decoration: none;
  outline: 0 !important;
}

a:hover {
  color: #209e2e;
  text-decoration: none;
}

p {
  line-height: 1.8;
  color: #7a7e9a;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
}

p:last-child {
  margin-bottom: 0;
}

button {
  outline: 0 !important;
}

.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-70 {
  padding-bottom: 70px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-weight: bold;
}

/*================================================
Navbar Area CSS
=================================================*/
.trifles-responsive-nav {
  display: none;
}

.trifles-nav {
  background-color: transparent;
}

.trifles-nav .navbar {
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border-radius: 5px;
  padding-right: 25px;
  padding-top: 0;
  padding-left: 25px;
  padding-bottom: 0;
}

.trifles-nav .navbar .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.trifles-nav .navbar ul {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
}

.trifles-nav .navbar .navbar-nav {
  margin-right: auto;
  margin-left: auto;
}

.trifles-nav .navbar .navbar-nav .nav-item {
  position: relative;
  padding: 0;
}

.trifles-nav .navbar .navbar-nav .nav-item a {
  font-size: 16px;
  color: #333333;
  text-transform: capitalize;
  padding-left: 0;
  padding-right: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 13px;
  margin-right: 13px;
}

.trifles-nav .navbar .navbar-nav .nav-item a:hover, .trifles-nav .navbar .navbar-nav .nav-item a:focus, .trifles-nav .navbar .navbar-nav .nav-item a.active {
  color: #209e2e;
  position: relative;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.trifles-nav .navbar .navbar-nav .nav-item a:hover::before, .trifles-nav .navbar .navbar-nav .nav-item a:focus::before, .trifles-nav .navbar .navbar-nav .nav-item a.active::before {
  content: "";
  position: absolute;
  display: inline-block;
  height: 8px;
  width: 8px;
  background-color: #209e2e;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 30px;
  bottom: 20px;
}

.trifles-nav .navbar .navbar-nav .nav-item a i {
  font-size: 11px;
}

.trifles-nav .navbar .navbar-nav .nav-item:last-child a {
  margin-right: 0;
}

.trifles-nav .navbar .navbar-nav .nav-item:first-child a {
  margin-left: 0;
}

.trifles-nav .navbar .navbar-nav .nav-item:hover a, .trifles-nav .navbar .navbar-nav .nav-item.active a {
  color: #209e2e;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}


.trifles-nav .navbar .navbar-nav .nav-item:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: 100%;
  margin-top: 0;
}

.trifles-nav .navbar .others-options {
  margin-left: 0;
}

.trifles-nav .navbar .others-options .option-item {
  color: #333333;
  display: inline-block;
  position: relative;
  line-height: 1;
}

.trifles-nav .navbar .others-options .option-item .search-btn {
  display: block;
  color: #ffffff;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #b7b7b7;
  cursor: pointer;
  color: #b7b7b7;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.trifles-nav .navbar .others-options .option-item .search-btn:hover {
  background-color: #209e2e;
  border: 1px solid #209e2e;
  color: #ffffff;
}




.trifles-nav .navbar .others-options .option-item .close-btn.active {
  display: block;
}

.trifles-nav .navbar .others-options .option-item .close-btn:hover {
  background-color: #209e2e;
  border: 1px solid #209e2e;
  color: #ffffff;
}

.trifles-nav .navbar .others-options .option-item .close-btn i {
  font-size: 16px;
}

.trifles-nav .navbar .others-options .cart-btn {
  width: 34px;
  height: 34px;
  line-height: 34px;
  border: 1px solid #b7b7b7;
  cursor: pointer;
  color: #b7b7b7;
  margin-left: 10px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: 1px;
  text-align: center;
  border-radius: 5px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.trifles-nav .navbar .others-options .cart-btn i {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.trifles-nav .navbar .others-options .cart-btn a {
  color: #b7b7b7;
  position: relative;
}

.trifles-nav .navbar .others-options .cart-btn a span {
  position: absolute;
  right: -5px;
  bottom: 12px;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  border-radius: 50%;
  background: #209e2e;
  color: #ffffff;
  font-size: 10px;
  font-weight: 400;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.trifles-nav .navbar .others-options .cart-btn:hover {
  background-color: #209e2e;
  border: 1px solid #209e2e;
  color: #ffffff;
}

.trifles-nav .navbar .others-options .cart-btn:hover a:hover i {
  color: #ffffff;
}

.trifles-nav .navbar .others-options .cart-btn:hover a span {
  background: #ffffff;
  color: #209e2e;
}

.trifles-nav .navbar .others-options .burger-menu {
  width: 34px;
  height: 34px;
  line-height: 34px;
  border: 1px solid #b7b7b7;
  cursor: pointer;
  color: #b7b7b7;
  margin-left: 10px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: 1px;
  text-align: center;
  border-radius: 5px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.trifles-nav .navbar .others-options .burger-menu:hover {
  background-color: #209e2e;
  border: 1px solid #209e2e;
  color: #ffffff;
}

.trifles-nav .navbar .others-options .burger-menu i::before {
  line-height: normal;
  font-size: 16px;
}

.navbar-area {
  position: absolute;
  left: 0;
  top: 35px;
  width: 100%;
  height: auto;
  z-index: 999;
  background-color: transparent;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}




.navbar-area-three {
  position: relative;
  background-color: transparent;
}


.navbar-area-three .trifles-nav .navbar {
  background-color: #ffffff;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  padding-right: 0;
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
}



@media only screen and (max-width: 991px) {
  .trifles-responsive-nav {
    display: block;
  }
  .trifles-responsive-nav .trifles-responsive-menu {
    position: relative;
  }
  .trifles-responsive-nav .trifles-responsive-menu.mean-container .mean-nav ul {
    font-size: 15px;
  }
  .trifles-responsive-nav .trifles-responsive-menu.mean-container .mean-nav ul li a.active {
    color: #209e2e;
  }
  .trifles-responsive-nav .trifles-responsive-menu.mean-container .mean-nav ul li li a {
    font-size: 14px;
  }
  .trifles-responsive-nav .trifles-responsive-menu.mean-container .navbar-nav {
    overflow-y: scroll;
    height: 336px;
    -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  .trifles-responsive-nav .mean-container a.meanmenu-reveal {
    color: #333333;
  }
  .trifles-responsive-nav .mean-container a.meanmenu-reveal span {
    background: #333333;
  }
  .trifles-responsive-nav .mean-container .others-option {
    display: none;
  }
  .trifles-responsive-nav .logo {
    position: relative;
    width: calc(100% - 50px);
    z-index: 999;
  }
  .trifles-responsive-nav .logo .cart-btn.phone{
    width: 39px;
    height: 30px;
    
    border: 1px solid #b7b7b7;
    cursor: pointer;
    color: #b7b7b7;
    margin-left: 10px;
    cursor: pointer;
    display: flex !important;
    position: absolute;
    top: calc((100% - 20px)/2);
    right: 10px;
    text-align: center;
    border-radius: 5px;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    align-items: center;
    justify-content: center;
  }
  .navbar-area {
    background-color: #ffffff;
    position: absolute;
    top: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .trifles-nav {
    display: none;
  }
}

/*================================================
Product Details Area CSS
=================================================*/
.product-details-desc h3 {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 700;
}

.product-details-desc .price {
  margin-bottom: 15px;
  color: #000000;
  font-size: 20px;
  font-weight: 600;
}


.product-details-desc .product-review {
  margin-bottom: 15px;
}

.product-details-desc .product-review .rating {
  display: inline-block;
  padding-right: 5px;
  font-size: 14px;
}

.product-details-desc .product-review .rating i {
  color: #ffba0a;
}

.product-details-desc .product-review .rating-count {
  display: inline-block;
  color: #000000;
  border-bottom: 1px solid #000000;
  line-height: initial;
}

.product-details-desc .product-review .rating-count:hover {
  color: #209e2e;
  border-color: #209e2e;
  text-decoration: none;
}

.product-details-desc .product-add-to-cart {
  margin-top: 20px;
}

 .input-counter {
  max-width: 130px;
  min-width: 130px;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
  position: relative;
}

 .input-counter span {
  position: absolute;
  top: 0;
  background-color: transparent;
  cursor: pointer;
  color: #d0d0d0;
  width: 50px;
  height: 100%;
  line-height: 55px;
  -webkit-transition: .6s;
  transition: .6s;
}

.input-counter span.minus-btn {
  left: 0;
}

.input-counter span.plus-btn {
  right: 0;
}

.input-counter span:hover {
  color: #209e2e;
}

.input-counter input {
  height: 50px;
  color: #000000;
  outline: 0;
  display: block;
  border: none;
  background-color: #f8f8f8;
  text-align: center;
  width: 100%;
  font-size: 17px;
  font-weight: 600;
}

.input-counter input::-webkit-input-placeholder {
  color: #000000;
}

.input-counter input:-ms-input-placeholder {
  color: #000000;
}

.input-counter input::-ms-input-placeholder {
  color: #000000;
}

.input-counter input::placeholder {
  color: #000000;
}

/*================================================
Footer Section CSS
=================================================*/
.footer-section {
  padding-top: 100px;
  padding-bottom: 50px;
}

.footer-section.footer-bg {
  background-image: url(../../assets/img/footer-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.footer-section.footer-bg::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #000000;
  opacity: 0.8;
  z-index: -1;
}

.footer-section.footer-bg .single-footer-widget p {
  color: #ffffff;
}

.footer-section.footer-bg .single-footer-widget .footer-social a {
  background-color: #ffffff;
  color: #209e2e;
}

.footer-section.footer-bg .single-footer-widget .footer-social a:hover {
  background-color: #209e2e;
  color: #ffffff;
}

.footer-section.footer-bg .single-footer-widget .footer-heading h3 {
  color: #ffffff;
}

.footer-section.footer-bg .single-footer-widget .footer-quick-links li {
  color: #ffffff;
}

.footer-section.footer-bg .single-footer-widget .footer-quick-links li a {
  color: #ffffff;
}

.footer-section.footer-bg .single-footer-widget .footer-quick-links li a:hover {
  color: #209e2e;
}

.footer-section.footer-bg .single-footer-widget .footer-info-contact i {
  color: #b48017;
}

.footer-section.footer-bg .single-footer-widget .footer-info-contact h3 {
  color: #ffffff;
}

.footer-section.footer-bg .single-footer-widget .footer-info-contact span {
  color: #ffffff;
}

.footer-section.footer-bg .single-footer-widget .footer-info-contact span a {
  color: #ffffff;
}

.footer-section.footer-bg .single-footer-widget .footer-info-contact span a:hover {
  color: #209e2e;
}

.footer-section.footer-bg .single-footer-widget .footer-map {
  padding-left: 0;
  margin-bottom: 0;
}

.footer-section.footer-bg .single-footer-widget .footer-map li {
  list-style-type: none;
  font-size: 18px;
  font-weight: 500;
}

.footer-section.footer-bg .single-footer-widget .footer-map a {
  color: #209e2e;
}

.footer-section.footer-bg .copyright-area .copyright-area-content p {
  color: #ffffff;
}

.footer-section.footer-bg .copyright-area .copyright-area-content p a {
  color: #ffffff;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.footer-section.footer-bg .copyright-area .copyright-area-content p a:hover {
  color: #209e2e;
}

.footer-section.footer-bg .copyright-area .copyright-area-content ul li {
  color: #ffffff;
}

.footer-section.footer-bg .copyright-area .copyright-area-content ul li a {
  color: #ffffff;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.footer-section.footer-bg .copyright-area .copyright-area-content ul li a:hover {
  color: #209e2e;
}

.single-footer-widget {
  margin-bottom: 50px;
}

.single-footer-widget p {
  color: #7a7e9a;
  margin: 0 0 18px 0;
  line-height: 25px;
}

.single-footer-widget .footer-social {
  padding-left: 0;
  margin-bottom: 0;
}

.single-footer-widget .footer-social li {
  list-style-type: none;
  display: inline-block;
}

.single-footer-widget .footer-social a {
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 32px;
  background-color: #d2ecd5;
  color: #209e2e;
  font-size: 14px;
  text-align: center;
  border-radius: 30px;
  margin-right: 5px;
}

.single-footer-widget .footer-social a:hover {
  background-color: #209e2e;
  color: #ffffff;
}

.single-footer-widget .footer-heading {
  margin-bottom: 30px;
}

.single-footer-widget .footer-heading h3 {
  font-size: 20px;
  color: #209e2e;
  margin: 0 0 0 0;
}

.single-footer-widget .footer-quick-links {
  padding-left: 0;
  margin-bottom: 0;
}

.single-footer-widget .footer-quick-links li {
  list-style-type: none;
  padding-bottom: 12px;
  color: #7a7e9a;
}

.single-footer-widget .footer-quick-links li:last-child {
  padding-bottom: 0;
}

.single-footer-widget .footer-quick-links li a {
  display: inline-block;
  color: #7a7e9a;
  font-size: 14px;
  font-weight: 400;
}

.single-footer-widget .footer-quick-links li a:hover {
  color: #209e2e;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  letter-spacing: 1px;
}

.single-footer-widget .footer-info-contact {
  position: relative;
  margin-bottom: 16px;
}

.single-footer-widget .footer-info-contact:last-child {
  margin-bottom: 0;
}

.single-footer-widget .footer-info-contact i {
  color: #209e2e;
  position: absolute;
  left: 0;
  top: -6px;
  font-size: 16px;
}

.single-footer-widget .footer-info-contact h3 {
  font-size: 14px;
  color: #209e2e;
  font-weight: 400;
  margin: 0 0 10px 0;
  padding-left: 25px;
  text-transform: uppercase;
}

.single-footer-widget .footer-info-contact span {
  font-size: 14px;
  color: #7a7e9a;
  font-weight: 400;
}

.single-footer-widget .footer-info-contact span a {
  font-size: 14px;
  color: #7a7e9a;
  font-weight: 400;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.single-footer-widget .footer-info-contact span a:hover {
  color: #209e2e;
  letter-spacing: 1px;
}

.single-footer-widget .newsletter-form {
  max-width: 580px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.single-footer-widget .newsletter-form .input-newsletter {
  display: block;
  width: 100%;
  background-color: #ffffff;
  border: 1px dashed #209e2e !important;
  border: none;
  height: 50px;
  padding-left: 25px;
  border-radius: 50px;
  outline: 0;
  color: #333333;
  font-size: 15px;
}

.single-footer-widget .newsletter-form .input-newsletter::-webkit-input-placeholder {
  color: #7a7e9a;
}

.single-footer-widget .newsletter-form .input-newsletter:-ms-input-placeholder {
  color: #7a7e9a;
}

.single-footer-widget .newsletter-form .input-newsletter::-ms-input-placeholder {
  color: #7a7e9a;
}

.single-footer-widget .newsletter-form .input-newsletter::placeholder {
  color: #7a7e9a;
}

.single-footer-widget .newsletter-form button {
  position: relative;
  background-color: #209e2e;
  color: #ffffff;
  border: none;
  height: 50px;
  border-radius: 50px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  line-height: 50px;
  text-transform: capitalize;
  width: 100%;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
}

.single-footer-widget .newsletter-form button:hover {
  background-color: #333333;
  color: #ffffff;
}

.single-footer-widget .newsletter-form button i {
  font-size: 14px;
  line-height: normal;
  margin-left: 4px;
  position: relative;
  top: 1px;
}

.single-footer-widget .newsletter-form #validator-newsletter {
  font-size: 15px;
  color: red;
  margin-top: 10px;
}

.copyright-area .copyright-area-content {
  padding-top: 30px;
  border-top: 1px dashed #209e2e;
}

.copyright-area .copyright-area-content p {
  color: #7a7e9a;
  font-size: 14px;
}

.copyright-area .copyright-area-content p a {
  color: #7a7e9a;
  display: inline-block;
  font-weight: 600;
}

.copyright-area .copyright-area-content p a:hover {
  color: #209e2e;
}

.copyright-area .copyright-area-content ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
  text-align: right;
}

.copyright-area .copyright-area-content ul li {
  display: inline-block;
  color: #7a7e9a;
  font-size: 14px;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.copyright-area .copyright-area-content ul li a {
  display: inline-block;
  color: #7a7e9a;
}

.copyright-area .copyright-area-content ul li a:hover {
  color: #209e2e;
}

.copyright-area .copyright-area-content ul li::before {
  content: '';
  position: absolute;
  top: 5px;
  right: -13px;
  width: 1px;
  height: 14px;
  background-color: #209e2e;
}

.copyright-area .copyright-area-content ul li:last-child {
  margin-right: 0;
}

.copyright-area .copyright-area-content ul li:last-child::before {
  display: none;
}

.copyright-area .copyright-area-content ul li:first-child {
  margin-left: 0;
}



/*# sourceMappingURL=style.css.map */
.outer { margin:0 auto; max-width:800px;}
#big .item { background: white; margin:2px; color: #FFF; border-radius: 3px; text-align: center; }
#thumbs .item { display: flex; height:70px; line-height:70px; padding: 0px; margin:2px; color: #FFF; border-radius: 3px; text-align: center; cursor: pointer; }
#thumbs .item h1 { font-size: 18px; }

.owl-theme .owl-nav [class*='owl-'] { -webkit-transition: all .3s ease; transition: all .3s ease; }
.owl-theme .owl-nav [class*='owl-'].disabled:hover { background-color: #D6D6D6; }
#big.owl-theme { position: relative; }
#big.owl-theme .owl-next, #big.owl-theme .owl-prev { background:#333; width: 22px; line-height:40px; height: 40px; margin-top: -20px; position: absolute; text-align:center; top: 50%; }
#big.owl-theme .owl-prev { left: 10px; }
#big.owl-theme .owl-next { right: 10px; }
#thumbs.owl-theme .owl-next, #thumbs.owl-theme .owl-prev { background:#333; }
.owl-nav{
  color: white;
}
#thumbs .owl-nav{
  display: none !important;
}
.owl-dots{
  display: none !important;
}
.item img 
{
  max-height: 100%;
  max-width: 100%;
}


================================================
About Section CSS
=================================================*/
.about-section {
  position: relative;
}

.about-section.bg-f4faf4 {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-color: #f4faf4;
}

.about-section.section-bottom {
  padding-bottom: 175px;
}

.about-title-area {
  margin-bottom: 60px;
}

.about-title-area .about-title {
  border-right: 1px solid #dfdddf;
  padding-right: 35px;
}

.about-title-area .about-title span {
  color: #209e2e;
  font-size: 15px;
  display: block;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.about-title-area .about-title h2 {
  margin-bottom: 0;
  font-size: 38px;
  font-weight: 700;
}

.about-title-area .about-text {
  padding-left: 35px;
}

.about-title-area .about-text p {
  margin-bottom: 0;
}

.about-title-area .about-text .read-more-btn {
  margin-top: 18px;
  display: inline-block;
  color: #209e2e;
  font-size: 16px;
  font-weight: 600;
}

.about-title-area .about-text .read-more-btn i {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  display: inline-block;
}

.about-title-area .about-text .read-more-btn:hover i {
  margin-left: 3px;
}

.about-slider .about-item .about-text {
  padding: 20px;
  background-color: #fdfdfd;
  border-left: 1px dashed #8fe2aa;
  border-right: 1px dashed #8fe2aa;
  border-bottom: 1px dashed #8fe2aa;
  border-radius: 0 0 5px 5px;
  line-height: 1;
}

.about-slider .about-item .about-text span {
  font-size: 15px;
  color: #209e2e;
  position: relative;
  padding-left: 18px;
}

.about-slider .about-item .about-text span::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  background-color: #209e2e;
  left: 0;
  top: 4px;
  border-radius: 30px;
}

.about-slider .about-item .about-text h3 {
  font-size: 16px;
  margin: 10px 0 0 0;
  line-height: 22px;
}

.about-slider.owl-theme .owl-nav {
  opacity: 0;
  visibility: hidden;
  margin-top: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.about-slider.owl-theme .owl-nav [class*=owl-] {
  position: absolute;
  left: -16px;
  top: 50%;
  height: 40px;
  width: 40px;
  line-height: 38px;
  background-color: #209e2e !important;
  border: 1px solid #209e2e !important;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
  padding: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  color: #ffffff !important;
  font-size: 16px;
  border-radius: 50px;
}

.about-slider.owl-theme .owl-nav [class*=owl-].owl-next {
  left: auto;
  right: -16px;
}

.about-slider.owl-theme .owl-nav [class*=owl-]:hover {
  color: #209e2e !important;
  background-color: #ffffff !important;
  border: 1px solid #ffffff !important;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
}

.about-slider.owl-theme .owl-dots {
  line-height: .01;
  margin-top: 30px;
  margin-bottom: 0;
}

.about-slider.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 0 4px;
  background-color: #333333;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border-radius: 30px;
}

.about-slider.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #209e2e;
}

.about-slider.owl-theme .owl-dots .owl-dot.active span {
  background-color: #209e2e;
}

.about-slider.owl-theme:hover .owl-nav {
  opacity: 1;
  visibility: visible;
}

.about-content-area .about-content {
  margin-top: 20px;
}

.about-content-area .about-content h3 {
  font-size: 25px;
  margin: 0 0 10px 0;
}

.about-content-area .about-content p {
  margin: 0 0 0 0;
}

.about-content-area .about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: -10px;
  margin-right: -10px;
}

.about-content-area .about-list li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.about-content-area .about-list i {
  display: inline-block;
  height: 25px;
  width: 25px;
  line-height: 25px;
  background-color: #eafef1;
  color: #209e2e;
  border: 1px solid #209e2e;
  border-radius: 30px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-right: 6px;
}


#cart_prods img{
  max-width: 100px;
  max-height: 100px;
}
.active_del_addr
{
  box-shadow: 0px 0px 9px #4c95dd !important;
  border: 3px solid #4c95dd;
  overflow: initial !important;
}
#add_del_addr
{
  max-height: 40px;
  box-shadow: 0px 0px 9px;
  border-radius: 20px;
  padding: 0px 12px;
  overflow: hidden;
  cursor: pointer;
  margin-left: -20px;
  transition: max-height .4s ease-in-out;
}



.btn.btn-primary
{
   
    box-sizing: border-box;
    margin: 0;
    font-family: inherit;
    text-transform: none;
    -webkit-appearance: button;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid transparent;
    line-height: inherit;
    padding: 8px 16px;
    font-size: 14px;
    transition: all .5s ease-in-out;
    cursor: pointer;
    background-color: #2d9bda;
    border-color: #2d9bda;
    color: #ffffff;
}



.filters_bg
{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.2);
  z-index: 999;
  display: none;
}
.filters_container
{
  overflow: hidden;
  width: 60%;
  position: fixed;
  height: fit-content;
  padding-bottom: 20px;
  top: 10%;
  left: 20%;
  background-color: white;
  z-index: 999999;
  border-radius: 5px;
  transform: scale(0);
  transition-timing-function: cubic-bezier(.32,2,.55,.27);
  transition-property: transform;
  transition-delay: .2s;
  transition-duration: .4s;
}
.filters_container .close_icon{
  position: absolute;
  right: 4px;
  top: 4px;
}
.filters_container .special2{
  position: absolute; bottom: 0px;left: calc((100% - 90px)/2);
}
.close_window 
{
  position: absolute;
  top: 10px;
  right: 40px;
  font-size: 24px;
  cursor: pointer;
  transition: color .4s;
}
.close_window:hover{
  color: red;
}


.dan{
 
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
  text-transform: none;
  -webkit-appearance: button;
  font-weight: 400;
  text-align: center;
  margin-bottom: 5px !important;
  border-radius: 10px;
  box-shadow: none;
  border: 1px solid transparent;
  line-height: inherit;
  padding: 8px 16px;
  font-size: 1.1rem;
  position: relative;
  display: inline-block;
  overflow: hidden;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  transition: .3s ease-out;
  cursor: pointer;
  background-color: #e9f5ea;
  border-color: #e9f5ea;
  color: #01b075;
  width: auto;
}

.dan:hover{
  background-color: #01b075 !important;
    border-color: #01b075 !important;
    color: #ffffff !important;
}

.special2{
  
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
  text-transform: none;
  -webkit-appearance: button;
  font-weight: 400;
  text-align: center;
  margin-bottom: 5px !important;
  border-radius: 10px;
  box-shadow: none;
  border: 1px solid transparent;
  line-height: inherit;
  padding: 8px 16px;
  font-size: 1.1rem;
  position: relative;
  display: inline-block;
  overflow: hidden;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  transition: .3s ease-out;
  cursor: pointer;
  background-color: #cde3f9;
  border-color: #cde3f9;
  color: #4c95dd;
}

.special2:hover{
  background-color: #4c95dd !important;
    border-color: #4c95dd !important;
    color: #ffffff !important;
}

.trifles-responsive-nav .logo .cart-btn.phone{
  display: none;
}

.owl-item .item{
  display: flex;
    justify-content: center;
    align-items: center;
}


.special_danger
{

  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
  text-transform: none;
  -webkit-appearance: button;
  font-weight: 400;
  text-align: center;
  margin-bottom: 5px !important;
  border-radius: 10px;
  box-shadow: none;
  border: 1px solid transparent;
  line-height: inherit;
  padding: 8px 16px;
  font-size: 1.1rem;
  position: relative;
  display: inline-block;
  overflow: hidden;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  transition: .3s ease-out;
  cursor: pointer;
  background-color: #ffe1d5;
  border-color: #ffe1d5;
  color: #e66430;
}

.special_danger:hover{
  background-color: #e66430 !important;
    border-color: #e66430 !important;
    color: #ffffff !important;
}

@media  (hover: none)
{
  .close_cart {
    opacity: 1 !important;
  }
}


.main-header
{
  margin-right: 0px;
  padding-right: 361px;
}

.special_dark
{
 
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
  text-transform: none;
  -webkit-appearance: button;
  font-weight: 400;
  text-align: center;
  background-color: #172b4c;
  color: #ffffff;
  margin-bottom: 5px !important;
  border-radius: 10px;
  box-shadow: none;
  border: 1px solid transparent;
  line-height: inherit;
  padding: 8px 16px;
  font-size: 1.1rem;
  position: relative;
  display: inline-block;
  overflow: hidden;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  transition: .3s ease-out;
  cursor: pointer;
}


.invis{
  width: 0px;
  height: 0px;
  opacity: 0;;
}
.vis{
  width: auto;
  height: auto;
  opacity: 1;
}


.scroll4::-webkit-scrollbar {
  width: 8px;
}
 
.scroll4::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 5px;
}

.scroll4::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 5px;
  margin: 5px 0px;
}




@media only screen and (max-width: 1200px) {
  .modal_window
  {
    top: 0px;
    margin-top: 0px;
  }
  .modal_subtitle{
    font-size: 16px;
  }
  .modal_subtitle i{
    font-size: 25px;
  }
  .category_parent img{
    width: 50px;
    height: 50px;
  }
  .category_infos span:first-child{
    font-size: 16px;
  }
  .category_infos span:last-child{
    font-size: 12px;
  }
  .modal_input_holder{
    padding: 3px 0px;
  }
  .city_search input{
    font-size: 14px;
    padding: 5px 0px;
    width: 250px;
  }
  .button_like{
    width: 35px;
    height: 35px;
    font-size: 25px;
  }
  .my_loc_btn i{
    margin-right: 5px;
  }
  .my_loc_btn{
    display: flex;
    align-items: center;
    height: 30px;
  }
  .search_rad{
    font-size: 14px;
    padding: 5px;
  }
  .del_filters{
    padding: 5px;
  }
  .prod_search_holder .button_like{
    top: 12px;
  }
  .filters_test input{
    height: 40px;
  }
  .filters{
    padding: 7px 15px;
  }
}

@media only screen and (max-width: 1400px)
{
  .filters_container{
    top: 0px;
    width: 90%;
    left: 5%;
  }
}




@media only screen and (max-width: 500px) {
  .footer-section
  {
    transform: translateY(200px);
  }
  .city_search{
    flex-direction: column-reverse;
  }
  .city_search input{
    width: calc(100vw - 85px);
  }
  .my_loc_btn{
    width: fit-content;
    margin-bottom: 10px;
  }
  .categories{
    grid-template-columns: 1fr;
  }
  .small_view{
    display: flex;
  }
  .navbar-area-three{
    padding: 0px !important;
  }
  #map{
    height: 100%;
  }
  .column.right{
    height: calc(100vh - 130px) !important;
    top: 75px !important;
  }
  .handle{
    display: block;
  }
  .card{
    grid-template-columns: repeat(10,10%);
    grid-template-rows: auto 300px;
    grid-template-areas: "info" "prod";
    height: auto;
    margin: 10px 0px;
  }
  .left_col{
    grid-column: 2/10;
    background-color: white;
  }
  .right_col{
    grid-column: 1/11;
  }
  .prod_elem_tray{
    height: 250px;
  }
  .prod_elem{
    height: 250px;
  }
  .slide_arrow{
    top: 170px !important;
  }
  .atc_button{
    width: 200px;
  }



    #promovati{
    display: none;
  }

  .right{
    position: absolute;
    top: 120px !important;
    z-index: 99;
    display: block !important;
  }
  .map_header{
    display: none;
  }
  .left{
    transform: translateY(calc(100vh - 350px));
    z-index: 400;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
  }
}
