
.line
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0%;
    height: 2px;
    background-color: #339AF0;
    transition: width .4s;
}

label 
{
    display: block;
    font-size: 15px;
    position: absolute;
    top: 10px;
    cursor: auto;
    transition: all .4s;
}

.err
{
    color: red;
    font-size: 14px;
    margin-bottom: 0px;
    max-height: 0px;
    transition: max-height .4s;
    overflow: hidden;
}
.auto_complete
{
    position: relative;
    left: 0px;
    width: 100%;
    margin-top: 3px;
    overflow: auto;
    z-index: 9999;
    display: block;
    border: 1px solid black;
    padding: 5px 0px;
    max-height: 0px;
    opacity: 0;
    transition: max-height .4s,opacity .4s;
}
.country
{
    display: flex;
    display: flex;
    align-items: center;
}

.complete_item{
    width: 100%;
    background-color: white;
    padding: 8px 0px;;
    padding-left: 2px;;
    font-weight: bold;
    cursor: pointer;
    transition: .4s background-color;
}

.complete_item:hover{
    background-color: rgba(0,0,204,0.2);

}
#map{
    margin: auto;
    height: 300px;
    
}
.map_holder
{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    
}
#lcl
{
    position: relative;
    top: 0px;
    cursor: pointer;
}
.lock_map{
    width: max-content;
    position: absolute;
    top: 10px;
    cursor: pointer;
    left: calc((100% - 120px)/2);
    z-index: 999;
    background-color: black;
    color: white;
    padding: 0px 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}
#map_lock{
    width: max-content;
}
.round {
    position: relative;
    width: 30px;
    height: 30px;;
  }
  
  .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
  }
  
  .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
  }
  
  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
  .left,.right{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.right{
    margin-left: 20px;
}
.point
{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.point:not(:first-child){
    border-top: 2px solid ;
}
.round input[type="checkbox"]:checked + label:before{
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    top: 1px;
    left: 1px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    -webkit-transform: rotate(
40deg
);
    transform: rotate(
40deg
);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
}
.round input[type="checkbox"] + label:before, [type="checkbox"]:not(.filled-in) + label:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid red;
    border-radius: 1px;
    margin-top: 2px;
    transition: .2s;
    opacity: 0;
}
.round label{
    height: 35px !important;
    padding: 0px;
    width: 35px;

}

.cover{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1;
    flex-direction: column;
    display: none;
}

.short_code
{
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 10px;

}